

* {
    box-sizing: border-box;
  }


  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-display: wrap;
    src: 
         url('../fonts/open-sans-v29-latin-regular.woff2') format('woff2'),
         url('../fonts/open-sans-v29-latin-regular.woff') format('woff'); 
  }
  
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-display: wrap;
    src: 
         url('../fonts/open-sans-v29-latin-600.woff2') format('woff2'),
         url('../fonts/open-sans-v29-latin-600.woff') format('woff'); 
  }
 
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-display: wrap;
    src: 
         url('../fonts/open-sans-v29-latin-700.woff2') format('woff2'), 
         url('../fonts/open-sans-v29-latin-700.woff') format('woff'); 
  }


  
  body {
    margin: 0;
    font-family: "Open Sans", "Arial", sans-serif;
  }
  
  a {
    text-decoration: none;
  }
  
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .container {
    width: 1140px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .site-header {
    padding-top: 24px;
    padding-bottom: 24px;
  }
  
  .header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav-links {
    display: flex;
    align-items: center;
  }
  
  .nav-link {
    margin-right: 32px;
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #222222;
  }
  
  .site-reception-link {
    padding: 12px 24px;
    font-weight: 700;
    font-size: 15px;
    line-height: 150%;
    letter-spacing: 2px;
    color: #ffffff;
    background: #de2e54;
    border: 2px solid #de2e54;
    border-radius: 8px;
  }
  
  .nav-link:hover {
    color: #de2e54;
  }
  
  .site-reception-link:hover {
    background-color: #fff;
    color: #de2e54;
    border-color: #de2e54;
  }
  
  .nav-link:active {
    color: rgb(222, 46, 84, 0.6);
  }
  .site-reception-link:active {
    background-color: rgb(222, 46, 84, 0.6);
    color: #fff;
  }
  
  /****************** HERO SECTION START ************/
  .hero {
    height: 504px;
    padding-top: 29px;
    background-image:url(../img/hero-img\ \(1\).svg);
    background-color: #0eb4c1;
    background-size: 423px 504px;
    background-position:left calc(60% + 200px) bottom 25% ;
    background-repeat: no-repeat;
  }
  
  .hero-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .hero-start {
    width: 500px;
    margin-right: 77px;
  }
  
  .hero-title {
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 36px;
    line-height: 120%;
    color: #ffffff;
  }
  
  .hero-text {
    margin-bottom: 36px;
    font-size: 18px;
    line-height: 150%;
    color: #ffffff;
  }
  
  .hero-link:hover {
    background-color: rgba(222, 46, 84, 0.8);
    color: #fff;
  }
  
  .hero-link:active {
    background-color: rgba(222, 46, 84, 0.6);
    color: #fff;
  }
  /****************** HERO SECTION END ************/
  
  /****************** SERVICES SECTION START ************/
  .services {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  
  .services-list {
  }
  
  .service-item {
    width: 864px;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 80px;
  }
  
  .service-item::before{
    content: '';
    display: block;
    width: 200px;
    height: 200px;
    background-size: 200px 200px;
    background-position: 0 center;
  }
  
  .service-item:nth-child(1)::before{
    background-image: url("../img/image\ 1\ \(1\).svg");
  
  }
  .service-item:nth-child(2)::before{
    background-image: url("../img/image\ 2\ \(1\).svg");
  
  }
  .service-item:nth-child(3)::before{
    background-image: url("../img/image\ 3.svg");
  
  }
  .service-item:nth-child(4)::before{
      background-image: url("../img/image\ 3\ copy.svg");
  
  
  }
  
  .last-service-item {
    margin-bottom: 60px;
  }
  
  .service-img {
    margin-right: 64px;
  }
  
  .service-text-content{
    width: 600px;
    margin-left: 64px;
  }
  
  .services-title {
    margin-bottom: 56px;
    font-weight: 700;
    font-size: 36px;
    line-height: 120%;
    text-align: center;
    color: #000000;
  }
  
  .service-title {
    margin-top: 14px;
    margin-bottom: 24px;
  }
  
  .service-desc {
    display: inline;
    margin: 0;
    font-size: 16px;
    line-height: 150%;
    color: #444444;
  }
  
  .service-desc-quote {
    display: inline;
    margin: 0;
    color: #444;
  }
  
  .service-desc-quote-comment {
    font-size: 16px;
    color: #444;
  }
  
  .services-link-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /*********** ARTICLE START **********/
  .site-article {
    padding-top: 64px;
    padding-bottom: 64px;
    background-color: #0eb4c1;
  }
  .site-logo{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
 
  }
  
  .article-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .article-title {
    margin-top: 0;
    margin-bottom: 40px;
    font-weight: 700;
    font-size: 36px;
    line-height: 120%;
    color: #ffffff;
  }
  
  .article-links {
    display: flex;
  }
  
  .article-link {
    margin-right: 40px;
    padding: 12px 24px;
    font-weight: 700;
    font-size: 15px;
    line-height: 120%;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 8px;
  }
  
  .article-link:hover {
    background: #de2e54;
    color: #fff;
    border-color: #de2e54;
  }
  .article-link:active {
    background-color: rgba(222, 46, 84, 0.6);
    color: #fff;
  }
  
  /*********** ARTICLE END **********/
  /*********** FOOTER START **********/
  .site-footer {
    padding-top: 24px;
    padding-bottom: 24px;
    background-color: #222;
  }
  .footer-links{
      display: flex;
      align-items: center;
      
  }

  .footer-item{
      margin-left: 24px;
   
  }

.footer-link{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}

}

.footer-link:hover{
    color: #DE2E54;
}
.site-logo:hover{
    color: #DE2E54;
}